@model IEnumerable<TryAutoZone.Models.Car>

@{
    ViewData["Title"] = "Indeks Samochodów";
}

<h1>Indeks Samochodów</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Nowy</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Make)</th>
        <th>@Html.DisplayNameFor(model => model.Model)</th>
        <th>@Html.DisplayNameFor(model => model.Year)</th>
        <th>Moc [KM]</th>
        <th>Pojemność [cm³]</th>
        <th>Rodzaj Silnika</th>
        <th>Skrzynia Biegów</th>
        <th>Emisja CO2 [g/km]</th>
        <th>Zużycie Paliwa [l/100km]</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Make)</td>
            <td>@Html.DisplayFor(modelItem => item.Model)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
            <td>@item.HorsePower</td>
            <td>@item.EngineCapacity</td>
            <td>@item.EngineType</td>
            <td>@item.Gearbox</td>
            <td>@item.CO2Emission</td>
            <td>@String.Format("{0:F1}", item.FuelConsumption)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>
