@model IEnumerable<TryAutoZone.Models.Reservation>

@{
    ViewData["Title"] = "Indeks Rezerwacji";
}

<h1>Indeks Rezerwacji</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Stwórz Nową Rezerwację</a>
</p>
<table class="table table-hover mt-4">
    <thead>
    <tr>
        <th>Data Rezerwacji</th>
        <th>Samochód</th>
        <th>Klient</th>
        <th>Id klienta</th>
        <th>Dodatkowe Informacje</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td >@item.ReservationDate.ToString("g")</td>
            <td>@item.Car.Make @item.Car.Model (@item.Car.Year)</td>
            <td>@item.User.Email</td>
            <td>@item.User.Id</td>
            <td>@item.AdditionalInformation</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>
